*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(Img/Alone\ drive\ wallpaper\ Final.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(43,89,125);
    background: linear-gradient(180deg, rgba(43,89,125,1) 1%, rgba(30,62,85,1) 21%, rgba(0,0,0,0.8799894957983193) 100%, rgba(187,192,193,1) 100%); */
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 940px;
    background: #fff;
    margin: 100px auto 80px;
    padding: 70px 30px 70px;
    border-radius: 20px;

}
.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.todo-app h2 img{
    width: 40px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 25px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
#input-box{
    font-size: 25px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
}

ul li{
    list-style: none;
    font-size: 40px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(Img/uncheck-64.png);
    background-size: cover;
    background-position: center;
    top: 29px;
    left: 8px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(Img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 42px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span :hover {
    background: #edeef0;
    
}